// ---------------------------
// Reset
// ---------------------------

@import 'reset';

// ---------------------------
// CSS
// ---------------------------

html {
    font-family: 'Montserrat', sans-serif;
}

.hello {
    background-color: #FAFAFA;
    padding: 85px 9%;

    h1 {
        font-size: 64px;
        font-weight: 900;
        font-style: italic;
        color: #1CA9A0;
        padding-bottom: 20px;
    }

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        width: 68%;
        color: #C45E5E;
    }
}


.samples {
    display: grid;
    grid-template-columns: 10% 1fr minmax(275px, 450px) .5fr 40px .5fr minmax(275px, 450px) 1fr 10%;
    // grid-template-columns: 10% 1fr minmax(275px, 275px) .5fr 25px .5fr minmax(275px, 275px) 1fr 10%; 
    // grid-template-columns: 10% 1fr 450px .5fr 25px .5fr 450px 1fr 10%;
    margin-top: 85px;

    h2 {
        font-weight: 500;
        font-size: 31.0909px;
        line-height: 38px;
        min-height: 76px;
        color: #1CA9A0;
    }

    ul {
        list-style: disc;
        padding-left: 15px;
        margin-top: -70px;
        font-size: 18px;
        line-height: 22px;
        color: #3C3C3C;
        margin-bottom: 40px;
    }

    picture img {
        width: 571px;
        margin-left: -20%;
    }

    img {
        // max-width: 100%;
        // min-width: 100%;
        // overflow-x: hidden;
    }
}

.item1 {
    grid-column: 3 / 4;
    // grid-column: 3 / 4;
}

.item2 {
    grid-column: 7 / 8;
    // grid-column: 7 / 8;

}

.button a {
    width: 135px;
    height: 49px;
    margin: auto;
    background: #1CA9A0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 85px;
    text-decoration: none;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: auto;
        color: #FFFFFF;
    }
}


.contact {
    background-color: #FAFAFA;
    color: #3C3C3C;
    padding: 85px 9% 40px;

    h1 {
        font-style: italic;
        font-weight: 900;
        font-size: 48px;
        padding-bottom: 30px;

    }

    h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        text-align: center;
        color: #C45E5E;
    }

}

.worktogether {
    width: 62%;
    padding-bottom: 30px;
}

.nowrap {
    white-space: nowrap;

    a,
    a:visited {
        text-decoration: none;
        color: #1CA9A0;
    }
}

.links {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: flex-start;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 5%;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 70%;
}


// ---------------------------
// Media Queries
// ---------------------------

// @media screen and (min-width: 1175px) {

//     picture img {
//         width: 571px;
//     }
// }

@media screen and (max-width: 1174px) {

    .samples picture img {
        width: 369px;
        margin-left: -10%;
    }
}

@media screen and (max-width: 800px) {

    .samples {
        display: grid;
        grid-template-columns: 10% 1fr minmax(275px, 450px) 1fr 10%;
        grid-template-rows: 1fr 1fr;

        picture img {
            width: 571px;
        }
    }

    .item1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .item2 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .icons {
        width: 100%;
        justify-content: space-between;

    }
}

@media screen and (max-width: 650px) {

    .samples picture img {
        width: 571px;
        margin-left: -15%;
    }

    .links {
        display: block;
    }

    .nowrap {
        padding-bottom: 15px;
    }

    .container {
        margin-left: 0;
    }
}

@media screen and (max-width: 510px) {

    .hello {
        padding: 65px 9%;

        h1 {
            font-size: 48px;
            font-weight: 900;
            letter-spacing: 1px;
            font-style: italic;
            color: #1CA9A0;
            padding-bottom: 20px;
        }

        h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            width: 80%;
        }
    }

    .samples {
        margin-top: 65px;

        ul {
            font-size: 16px;
        }

        picture img {
            width: 369px;
            margin-left: -5%;
        }
    }



    .button a {
        margin-bottom: 65px;
    }

    .contact {
        padding-top: 65px;

        .worktogether {
            width: 70%;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .links {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 405px) {

    .samples picture img {
        width: 369px;
        margin-left: -12%;
    }
}

@media screen and (max-width: 360px) {

    .hello {
        padding: 65px 9%;

        h1 {
            font-size: 45px;
            letter-spacing: 1px;
        }

        h2 {
            font-weight: 400;
            line-height: 25px;
            width: 100%;
        }
    }

    .samples {
        display: grid;
        grid-template-columns: 10% 1fr minmax(250px, 450px) 1fr 10%;
        grid-template-rows: 1fr 1fr;

        picture img {
            width: 340px;
            margin-left: -18%;
        }
    }



    .contact {

        h1 {
            font-size: 45px;
        }

        .worktogether {
            width: 90%;
        }
    }

    .icons a img {
        width: 42px;
    }
}